@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --radius: 0.5rem;

    --card: 210 20% 98%;

    --main: 114.8 88.9% 28.2%;
    --main-darker: 115.2 88.2% 16.7%;
    --main-lighter: 100 63.2% 92.5%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --radius: 0.5rem;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.post-detail p:empty {
  height: 20px;
}
