.ql-toolbar.ql-snow {
  border: 1px solid #e5e7eb !important;
  padding: 8px 4px !important;
}

.ql-container.ql-snow {
  border-top: none !important;
  border-bottom: 1px solid #e5e7eb !important;
  border-left: 1px solid #e5e7eb !important;
  border-right: 1px solid #e5e7eb !important;
  padding: 0 !important;
  height: 450px !important;
  overflow: auto !important;
}

.ql-editor {
  padding: 16px !important;
}
